<?xml version="1.0"?>
<launch>
  <group ns="gps">
    <!-- NavSat Serial -->
    <node pkg="nmea_comms" type="serial_node" name="nmea_serial_node" output="screen">
      <param name="port" value="$(optenv HUSKY_NAVSAT_PORT /dev/clearpath/gps)" />
      <param name="baud" value="$(optenv HUSKY_NAVSAT_BAUD 57600)" />
    </node>

    <!-- NavSat Processing -->
    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver">
      <param name="useRMC" value="false" />
    </node>
  </group>


<!-- NavSat Transform -->


    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" output="screen">

      <!-- Frequency of the main run loop. -->
      <param name="frequency" value="30"/>

      <!-- Delay time, in seconds, before we calculate the transform from the UTM frame to your
           world frame. This is especially important if you have use_odometry_yaw set to true.
           Defaults to 0. -->
      <param name="delay" value="3"/>

      <!-- PLEASE READ: Like all nodes in robot_localization, this node assumes that your
           IMU data is reported in the ENU frame. Many IMUs report data in the NED frame,
           so you'll want to verify that your data is in the correct frame before using it.  -->

      <!-- If your IMU does not account for magnetic declination, enter the value for your
           location here. If you don't know it, see http://www.ngdc.noaa.gov/geomag-web/
           (make sure to convert the value to radians). This parameter is mandatory. -->
      <param name="magnetic_declination_radians" value="0"/>

      <!-- Your IMU's yaw, once the magentic_declination_radians value is added to it, should
           report 0 when facing east. If it doesn't, enter the offset here. Defaults to 0. -->
      <param name="yaw_offset" value="0"/>

      <!-- If this is true, the altitude is set to 0 in the output odometry message. Defaults
           to false. -->
      <param name="zero_altitude" value="true"/>

      <!-- If this is true, the transform world_frame->utm transform is broadcast
           for use by other nodes. Defaults to false. (we need it to be true for the GPR) -->
      <param name="broadcast_utm_transform" value="true"/> 

      <!-- If this is true, all received odometry data is converted back to a lat/lon
           and published as a NavSatFix message as /gps/filtered. Defaults to false. -->
      <param name="publish_filtered_gps" value="true"/>

      <!-- If this is true, the node ignores the IMU data and gets its heading from the
           odometry source (typically the /odometry/filtered topic coming from one of
           robot_localization's state estimation nodes). BE CAREFUL when using this!
           The yaw value in your odometry source *must* be world-referenced, e.g., you
           cannot use your odometry source for yaw if you have only one source for yaw
           data and it has its differential or relative parameter set to true. Defaults
           to false. (we can set it back to true when we had compass)-->
      <param name="use_odometry_yaw" value="false"/>

      <!-- If this is true, the node ignores the IMU data and gets its heading from the
           odometry source (typically the /odometry/filtered topic coming from one of
           robot_localization's state estimation nodes). BE CAREFUL when using this!
           The yaw value in your odometry source *must* be world-referenced, e.g., you
           cannot use your odometry source for yaw if you have only one source for yaw
           data and it has its differential or relative parameter set to true. Defaults
           to false. -->
      <param name="wait_for_datum" value="true"/>

      <!-- Instead of using the first GPS location and IMU-based heading for the
      local-frame origin, users can specify the origin (datum) using this parameter.
      The fields in the parameter represent latitude and longitude in decimal degrees,
      and heading in radians. As navsat_transform_node assumes an ENU standard, a 0
      heading corresponds to east. 
      <rosparam param="datum">[55.944904, -3.186693, 0.0, map, base_link]</rosparam>
      -->

<!-- North IM field -->
<!-- <rosparam param="datum">[39.7489083333 ,-105.22445 , 2.17433124, odom, base_link]</rosparam> -->    

<!-- CTLM sidewalk -->
<!--rosparam param="datum">[39.7497433333 ,-105.21934 , 2.17433124, odom, base_link]</rosparam> --> 


<!-- Brown common area -->
<!--<rosparam param="datum">[39.74975333 ,-105.222431667 , 0.610865, odom, base_link]</rosparam>-->
<!-- CTLM carpark -->
<!--    <rosparam param="datum">[39.7496766667 ,-105.218926667 , 0.610865, odom, base_link]</rosparam> -->
<!-- Greencenter Tunnel -->
<rosparam param="datum">[39.7516766667 ,-105.221198333 , 0.610865, odom, base_link]</rosparam>

<!--CTLM Back J Lot-->
<!--<rosparam param="datum">[39.749775 ,-105.21904 , 0.610865, odom, base_link]</rosparam>-->

<!-- Kafdar North -->
<!--<rosparam param="datum">[39.7517283333 ,-105.221788333 , 0.610865, odom, base_link]</rosparam>-->


      <!-- Placeholders for input remapping. Set your topic names as the "to" values.
      <remap from="/imu/data" to=""/>
      <remap from="/odometry/filtered" to=""/>
      <remap from="/gps/fix" to=""/>
      -->

      <remap from="/gps/fix" to="/gps/fix_filtered" />

      <!-- Placeholders for output remapping.
      <remap from="/odometry/gps" to=""/>
      <remap from="/gps/filtered" to=""/>
      -->

    </node>


<!-- 
my stuff
-->
    <node pkg="gps_filter" type="gps_filter_node" name="gps_filter">
    </node>

</launch>
